<!-- views/main.ejs -->
<!doctype html>
<html>
<head>
	<title>Node example</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-list"></span> Main Page</h1>
		<a href="/auth/logout" class="btn btn-default btn-sm">Logout</a>
	</div>

	<div class="row">
	
		<div class="col-sm-6 col-sm-offset-3">
				<h1> Showcase page </h1>

				<h2> <a href="/profile">Profile</a> </h2>
				<p> User information, link or unlink FB account. </p>

				<h2> <a href="/chat"> Chat</a> </h2>
				<p> A place to chat, you can whisp someone with w/ name message. </p>

				<h2> <a href="/posts"> Post</a> </h2>
				<p> Some data </p>
		<div>

	</div>

</div>
</body>
</html>